.row {
  display: flex;
  flex-wrap: wrap;
  // TODO use CSS grid instead
  margin-bottom: 1rem;

  &__input {
    flex: 1 0 50%;
  }
}

.submit {
  display: block;
  margin: 1rem;
  height: 2rem;
}
