:host {
  display: inline-block;
}

.input-button {
  display: block;
  height: 10vh;
  min-height: 2rem;
  max-height: 6rem;
  padding: 4px;

  input {
    display: none;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ccc;

    input:checked ~ & {
      background-color: #8F0000;
      color: white;
    }
  }
}
